:root {
  font-family: 'Oracle Sans', 'Haas Unica', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #312D2B;
  background-color: #FCFBFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --redwood-red: #B84F3C;
  --redwood-blue: #375865;
  --redwood-black: #312D2B;
  --redwood-white: #FCFBFA;
  --redwood-grey: #8A8580;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #B84F3C;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 640px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.0em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FCFBFA;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #B84F3C;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #B84F3C;
  }
  button {
    background-color: #FCFBFA;
  }
}
